.myMobBluePage {
color: Black;
font: 15px Arial;
}
.myMobBlueHeading {
font-weight: bold;
}
.myMobBlueTextHighlight {
font-style: italic;
font-weight: bold;
border-bottom: 1px dotted #4b76b2;
}
.myMobBlueLink {
color: #0e1724;
}
.myMobBlueLink:hover {
text-decoration: none;
}
.myMobBlueGroup {
border: 1px solid #a7bcd9;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueGroupLabel {
color: #466fa8;
}
.myMobBlueUILock {
background-color: #000122;
border: 1px solid Black;
opacity: .25;
filter: alpha(opacity: 25);
}
.myMobBlueEdit {
background-color: White;
font: 15px Arial;
border: 1px solid #a7bcd9;
padding: 6px;
vertical-align: middle;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
outline: none;
}
.myMobBlueEditError {
color: #6f0000;
background: url('images/$box/$size/8x8/$fill/Up%5fDiagonal:%23255%2c218%2c218%3a%23255%2c182%2c182.png.a5image') repeat center #ffb6b6;
border-color: #da0000;
}
.myMobBlueEditWatermark {
color: #4976b4;
font-style: italic;
}
.myMobBlueEditBG {
background-color: White;
border: 1px solid #a0b7d8;
padding: 0px;
vertical-align: middle;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueEditBGError {
color: #6f0000;
background: url('images/$box/$size/8x8/$fill/Up%5fDiagonal:%23255%2c218%2c218%3a%23255%2c182%2c182.png.a5image') repeat center #ffb6b6;
border-color: #da0000;
}
.myMobBlueEditBGEdit {
background-color: transparent;
border-style: none;
padding: 6px;
outline: none;
}
.myMobBlueEditBGError .myMobBlueEditBGEdit {
color: #6f0000;
}
.myMobBlueEditBGEditWatermark {
color: #4976b4;
font-style: italic;
}
.myMobBlueEditBGSeparator {
background-color: transparent;
font: 0pt arial;
padding: 0px;
width: 1px;
}
.myMobBlueEditBGHover .myMobBlueEditBGSeparator, .myMobBlueEditBGFocus .myMobBlueEditBGSeparator {
background-color: #a0b7d8;
}
.myMobBlueEditBGButton {
padding: 1px 2px;
}
.myMobBlueEditBGHover .myMobBlueEditBGButton, .myMobBlueEditBGFocus .myMobBlueEditBGButton {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23241%2c247%2c254%3a%23212%2c229%2c251.png.a5image') repeat-x top #d5e5fb;
border: 1px solid White;
padding: 0px 1px;
}
.myMobBlueEditBGHover .myMobBlueEditBGButtonHover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23254%2c254%2c254%3a%23199%2c219%2c248.png.a5image') repeat-x top #c9ddf9;
padding: 0px 1px;
}
.myMobBlueEditBGHover .myMobBlueEditBGButtonPressed, .myMobBlueEditBGFocus .myMobBlueEditBGButtonPressed {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23188%2c212%2c247%3a%23220%2c233%2c251.png.a5image') repeat-x top #dbe8fb;
}
.myMobBlueButton {
text-shadow: #dedddd 1px 1px;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23240%2c244%2c249%3a%23224%2c231%2c242.png.a5image') repeat-x top #e0e7f2;
font: 15px Arial;
border: 1px solid #acc0dc;
padding: 5px;
vertical-align: middle;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueButtonT {
text-shadow: #dedddd 1px 1px;
background-color: transparent;
font: 15px Arial;
border-style: none;
padding: 6px;
vertical-align: middle;
}
.myMobBlueButtonHover, .myMobBlueButtonTHover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23241%2c247%2c254%3a%23212%2c229%2c251.png.a5image') repeat-x top #d5e5fb;
border: 1px solid #5393ec;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueButtonPressed, .myMobBlueButtonTPressed {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23166%2c186%2c217%3a%23223%2c231%2c242.png.a5image') repeat-x top #dde5f1;
border: 1px solid #7697c5;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueButtonDisabled, .myMobBlueButtonTDisabled, .myMobBlueButton[disabled], .myMobBlueButtonT[disabled] {
color: #547eb8;
}
.myMobBlueButtonDD {
text-shadow: #dedddd 1px 1px;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23240%2c244%2c249%3a%23224%2c231%2c242.png.a5image') repeat-x top #e0e7f2;
font: 15px Arial;
border: 1px solid #acc0dc;
padding: 0px;
vertical-align: middle;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueButtonTDD {
text-shadow: #dedddd 1px 1px;
background-color: transparent;
font: 15px Arial;
border-style: none;
padding: 1px;
vertical-align: middle;
}
.myMobBlueButtonDDHover, .myMobBlueButtonTDDHover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23241%2c247%2c254%3a%23212%2c229%2c251.png.a5image') repeat-x top #d5e5fb;
border: 1px solid #5393ec;
padding: 0px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueButtonDDPressed, .myMobBlueButtonTDDPressed {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23166%2c186%2c217%3a%23223%2c231%2c242.png.a5image') repeat-x top #dde5f1;
border: 1px solid #7697c5;
padding: 0px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueButtonDDDisabled, .myMobBlueButtonTDDDisabled {
color: #547eb8;
}
.myMobBlueButtonDDContent, .myMobBlueButtonDDSplitContent, .myMobBlueButtonTDDContent, .myMobBlueButtonTDDSplitContent {
padding: 5px;
cursor: default;
}
.myMobBlueButtonDDDropdown, .myMobBlueButtonDDSplitDropdown, .myMobBlueButtonTDDDropdown, .myMobBlueButtonTDDSplitDropdown {
padding: 1px;
cursor: default;
}
.myMobBlueButtonDDHover .myMobBlueButtonDDSplitContent, .myMobBlueButtonTDDHover .myMobBlueButtonTDDSplitContent {
border-right: 1px solid #73a7f0;
padding-right: 9px;
}
.myMobBlueButtonDDPressed .myMobBlueButtonDDSplitContent, .myMobBlueButtonTDDPressed .myMobBlueButtonTDDSplitContent {
border-right: 1px solid #7697c5;
padding-right: 9px;
}
.myMobBlueButtonDDHover .myMobBlueButtonDDSplitDropdown, .myMobBlueButtonTDDHover .myMobBlueButtonTDDSplitDropdown {
border-left: 1px solid White;
padding-left: 0px;
}
.myMobBlueButtonDDPressed .myMobBlueButtonDDSplitDropdown, .myMobBlueButtonTDDPressed .myMobBlueButtonTDDSplitDropdown {
border-left: 1px solid White;
padding-left: 0px;
}
.myMobBlueButtonDDHover .myMobBlueButtonDDSplitDropdownHover, .myMobBlueButtonTDDHover .myMobBlueButtonTDDSplitDropdownHover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23254%2c254%2c254%3a%23199%2c219%2c248.png.a5image') repeat-x top #c9ddf9;
border-left: 1px solid White;
padding-left: 0px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-webkit-top-right-border-radius: 2px;
-moz-top-right-border-radius: 2px;
-webkit-bottom-right-border-radius: 2px;
-moz-bottom-right-border-radius: 2px;
}
.myMobBlueList {
border: 1px solid #a7bcd9;
padding: 0px;
overflow: auto;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueListItem {
text-decoration: none;
color: #101b2a;
font-size: 15px;
padding: 6px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.myMobBlueListItemHover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23226%2c237%2c251%3a%23209%2c226%2c250.png.a5image') repeat-x top #d2e3fa;
border: 1px solid #73a7f0;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueListItemSelected {
color: #ebf3fd;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%2383%2c147%2c236%3a%2335%2c116%2c230.png.a5image') repeat-x top #2576e7;
border: 1px solid #1257b8;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueListTitle {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23230%2c237%2c246%3a%23213%2c224%2c238.png.a5image') repeat-x top #d6e0ee;
border-top: 1px solid #a7bcd9;
border-bottom: 1px solid #a7bcd9;
padding: 5px;
}
.myMobBlueListSeparator {
border: 1px none #466fa8;
border-top-style: solid;
margin: 0px;
}
.myMobBlueTree {
border: 1px solid #a7bcd9;
padding: 0px;
overflow: auto;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueTreeNode {
text-decoration: none;
color: #101b2a;
font-size: 15px;
padding: 6px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.myMobBlueTreeNodeHover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23226%2c237%2c251%3a%23209%2c226%2c250.png.a5image') repeat-x top #d2e3fa;
border: 1px solid #73a7f0;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueTreeNodeSelected {
color: #ebf3fd;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%2383%2c147%2c236%3a%2335%2c116%2c230.png.a5image') repeat-x top #2576e7;
border: 1px solid #1257b8;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueTreeNodeLabel {
text-decoration: none;
color: #101b2a;
cursor: default;
outline: none;
}
.myMobBlueTreeNodeSelected .myMobBlueTreeNodeLabel {
color: White;
}
.myMobBlueDP {
border: 1px solid #a7bcd9;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueDPHeader {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
border-top: 1px solid White;
border-bottom: 1px solid #a7bcd9;
padding: 4px;
}
.myMobBlueDPHeaderButton {
text-decoration: none;
text-shadow: #dedddd 1px 1px;
color: #0e1724;
background-color: transparent;
font: bold 15px Arial;
border-style: none;
padding: 6px 11px;
display: inline-block;
cursor: default;
outline: none;
}
.myMobBlueDPHeaderButtonHover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23226%2c237%2c251%3a%23209%2c226%2c250.png.a5image') repeat-x top #d2e3fa;
border: 1px solid #73a7f0;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueDPHeaderButtonSelected {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23166%2c186%2c217%3a%23223%2c231%2c242.png.a5image') repeat-x top #dde5f1;
border: 1px solid #7697c5;
padding: 5px 10px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueDPItem {
text-align: center;
text-decoration: none;
color: #101b2a;
font-size: 15px;
padding: 6px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.myMobBlueDPItemHover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23226%2c237%2c251%3a%23209%2c226%2c250.png.a5image') repeat-x top #d2e3fa;
border: 1px solid #73a7f0;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueDPItemSelected {
color: #ebf3fd;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%2383%2c147%2c236%3a%2335%2c116%2c230.png.a5image') repeat-x top #2576e7;
border: 1px solid #1257b8;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueDPItemOutOfRange {
color: #3a5e90;
}
.myMobBlueDPItemDisabled {
color: #547eb8;
}
.myMobBlueDPPanel {
background-color: #fbfcfe;
}
.myMobBlueDPDaysOfWeek {
background: url('images/$box/$size/1x5/$fill/Gradient_Horizontal:%23202%2c216%2c233%3a%23230%2c237%2c245.png.a5image') repeat-x top #e1e9f3;
border-bottom: 1px solid #a7bcd9;
padding: 5px;
}
.myMobBlueDPWeeksOfYear {
background-color: #e1e9f3;
border-right: 1px solid #a7bcd9;
padding: 5px;
}
.myMobBlueDPWeeksOfYearHeader {
border-bottom-style: none;
}
.myMobBlueDPDate {
background-color: #fbfcfe;
}
.myMobBlueDPDateWeekend {
background: url('images/$box/$size/8x8/$fill/Up%5fDiagonal:%23216%2c228%2c240%3a%23245%2c249%2c252.png.a5image') repeat center #f6f9fc;
}
.myMobBlueDPDateToday {
background: url('images/$box/$size/8x8/$fill/Up%5fDiagonal:%23199%2c212%2c232%3a%23210%2c221%2c237.png.a5image') repeat center #d2dded;
}
.myMobBlueTP .myMobBlueEdit {
text-align: center;
border-bottom-style: none;
margin: 0px;
border-radius: 0px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
-webkit-bottom-left-border-radius: 0px;
-moz-bottom-left-border-radius: 0px;
-webkit-bottom-right-border-radius: 0px;
-moz-bottom-right-border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
}
.myMobBlueTPEditButton {
text-align: center;
background-color: White;
border: 1px solid #a0b7d8;
border-top-style: none;
padding: 0px;
padding-top: 1px;
display: block;
cursor: default;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
outline: none;
-webkit-bottom-left-border-radius: 3px;
-moz-bottom-left-border-radius: 3px;
-webkit-bottom-right-border-radius: 3px;
-moz-bottom-right-border-radius: 3px;
}
.myMobBlueTPEditButton:hover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23226%2c237%2c251%3a%23209%2c226%2c250.png.a5image') repeat-x top #d2e3fa;
border-top-style: solid;
padding-top: 0px;
}
.myMobBlueTPMeridianButton {
text-decoration: none;
color: #101b2a;
font-size: 15px;
padding: 6px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.myMobBlueTPMeridianButton:hover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23226%2c237%2c251%3a%23209%2c226%2c250.png.a5image') repeat-x top #d2e3fa;
border: 1px solid #73a7f0;
padding: 5px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}
.myMobBlueGrid {
border: 1px solid #a7bcd9;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueGridHeader {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
border-top: 1px solid White;
border-bottom: 1px solid #a7bcd9;
padding: 4px;
line-height: 24px;
}
.myMobBlueGridHeader img {
vertical-align: middle;
}
.myMobBlueGridFooter {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
border-top: 1px solid #a7bcd9;
border-bottom: 1px solid White;
padding: 4px;
vertical-align: middle;
}
.myMobBlueGridFooter img {
vertical-align: middle;
}
.myMobBlueGridSummaryLabel {
background-color: #f1f4f9;
padding: 4px;
}
.myMobBlueGridSummaryData {
background-color: #f1f4f9;
padding: 4px;
}
.myMobBlueGridQBE {
background: url('images/$box/$size/1x5/$fill/Gradient_Horizontal:%23202%2c216%2c233%3a%23230%2c237%2c245.png.a5image') repeat-x top #e1e9f3;
border-bottom: 1px solid #a7bcd9;
padding: 4px;
}
.myMobBlueGridQBE img {
vertical-align: middle;
}
.myMobBlueGridSeparator {
background-color: #b7c9e1;
font-size: 0px;
padding: 0px;
height: 1px;
}
.myMobBlueGridRowHeader {
background-color: #fbfcfe;
}
.myMobBlueGridDataHeader {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23230%2c237%2c246%3a%23213%2c224%2c238.png.a5image') repeat-x top #d6e0ee;
border-top: 1px solid White;
border-bottom: 1px solid White;
padding: 6px;
}
.myMobBlueGridData {
background-color: #fbfcfe;
padding: 4px;
}
.myMobBlueGridDataAlt {
background-color: #fbfcfe;
padding: 4px;
}
.myMobBlueGridRowHover .myMobBlueGridDataAlt, .myMobBlueGridRowHover .myMobBlueGridData {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23226%2c237%2c251%3a%23209%2c226%2c250.png.a5image') repeat-x top #d2e3fa;
}
.myMobBlueGridRowSelected .myMobBlueGridDataAlt, .myMobBlueGridRowSelected .myMobBlueGridData {
color: #ebf3fd;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%2383%2c147%2c236%3a%2335%2c116%2c230.png.a5image') repeat-x top #2576e7;
}
.myMobBlueGridDataError {
color: #6f0000;
background: url('images/$box/$size/8x8/$fill/Up%5fDiagonal:%23255%2c218%2c218%3a%23255%2c182%2c182.png.a5image') repeat center #ffb6b6;
}
.myMobBlueGridHeader .myMobBlueLink {
text-decoration: none;
text-shadow: #dedddd 1px 1px;
}
.myMobBlueGridHeader .myMobBlueLink:hover {
text-decoration: underline;
}
.myMobBlueGridRowSelected .myMobBlueLink {
color: #ebf3fd;
}
.myMobBlueGridForm {
}
.myMobBlueGridFormLabel {
}
.myMobBlueGridFormData {
}
.myMobBlueGridFormDataError {
color: #6f0000;
background: url('images/$box/$size/8x8/$fill/Up%5fDiagonal:%23255%2c218%2c218%3a%23255%2c182%2c182.png.a5image') repeat center #ffb6b6;
}
.myMobBlueDialogLabel {
padding: 2px;
}
.myMobBlueDialogRSHeader {
}
.myMobBlueDialogRSFooter {
text-align: right;
border-top: 1px dotted #a0b7d8;
padding-top: 2px;
}
.myMobBlueDialogRSRow {
padding: 3px;
}
.myMobBlueDialogRSRowSelected {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23235%2c242%2c253%3a%23185%2c210%2c247.png.a5image') repeat-x top #bbd4f8;
border: 1px solid #a1c4f5;
padding: 2px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueDialogRSRowHover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23254%2c254%2c254%3a%23230%2c239%2c252.png.a5image') repeat-x top #e7f0fd;
border: 1px solid #cfe1fa;
padding: 2px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueDialogRSRowError {
color: #6f0000;
background: url('images/$box/$size/8x8/$fill/Up%5fDiagonal:%23255%2c218%2c218%3a%23255%2c182%2c182.png.a5image') repeat center #ffb6b6;
border: 1px solid #da0000;
padding: 2px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueDialogRSSeparator {
border-top: 1px dotted #a0b7d8;
margin-top: 5px;
line-height: 5px;
}
.myMobBlueMenu {
background-color: #ebf0f7;
border: 1px solid #a7bcd9;
padding: 0px;
border-radius: 3px;
box-shadow: 4px 4px 8px #aaa;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-webkit-box-shadow: 4px 4px 8px #aaa;
-moz-box-shadow: 4px 4px 8px #aaa;
}
.myMobBlueMenuInner {
border: 1px solid White;
padding: 0px;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
}
.myMobBlueMenuNoIndent {
background-color: #ebf0f7;
}
.myMobBlueMenuItem {
text-decoration: none;
white-space: nowrap;
color: #101b2a;
font-size: 15px;
padding: 6px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.myMobBlueMenuItemHover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23226%2c237%2c251%3a%23209%2c226%2c250.png.a5image') repeat-x top #d2e3fa;
border: 1px solid #73a7f0;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueMenuItemSelected {
color: #ebf3fd;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%2383%2c147%2c236%3a%2335%2c116%2c230.png.a5image') repeat-x top #2576e7;
border: 1px solid #1257b8;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueMenuItemDisabled {
color: #547eb8;
}
.myMobBlueMenuItemDisabledHover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23239%2c243%2c248%3a%23224%2c233%2c243.png.a5image') repeat-x top #e1e9f3;
border: 1px solid #99b2d4;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueMenuItem .myMobBlueMenuItemCascade {
background: url('MenuCascade.png') no-repeat right;
padding-right: 16px;
}
.myMobBlueMenuItemDisabled .myMobBlueMenuItemCascade {
background-image: url('MenuCascadeDisabled.png');
}
.myMobBlueMenuSeparator {
border-top: 1px solid #a7bcd9;
border-bottom: 1px solid White;
}
.myMobBlueMenuTitle {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23230%2c237%2c246%3a%23213%2c224%2c238.png.a5image') repeat-x top #d6e0ee;
border-top: 1px solid #a7bcd9;
border-bottom: 1px solid #a7bcd9;
padding: 5px;
}
.myMobBlueMenuItemHover .myMobBlueMenuItemCascade {
background-image: url('MenuCascadeHover.png');
}
.myMobBlueMenubarHItem {
text-decoration: none;
white-space: nowrap;
color: #101b2a;
font-size: 15px;
padding: 6px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.myMobBlueMenubarHItemHover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23226%2c237%2c251%3a%23209%2c226%2c250.png.a5image') repeat-x top #d2e3fa;
border: 1px solid #73a7f0;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueMenubarHItemPressed {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23166%2c186%2c217%3a%23223%2c231%2c242.png.a5image') repeat-x top #dde5f1;
border: 1px solid #7697c5;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueMenubarHItemDisabled {
color: #547eb8;
}
.myMobBlueMenubarHSeparator {
font-size: 0px;
border-style: none;
border-left: 1px solid #a7bcd9;
border-right: 1px solid White;
padding: 0px;
vertical-align: middle;
height: 24px;
}
.myMobBlueMenubarHItemCascade {
background: url('MenubarHCascade.png') no-repeat right;
padding-right: 16px;
}
.myMobBlueMenubarHItemHover .myMobBlueMenubarHItemCascade {
background-image: url('MenubarHCascadeHover.png');
}
.myMobBlueMenubarHItemPressed .myMobBlueMenubarHItemCascade {
background-image: url('MenubarHCascadePressed.png');
}
.myMobBlueMenubarHItemDisabled .myMobBlueMenubarHItemCascade {
background-image: url('MenubarHCascadeDisabled.png');
}
.myMobBlueMenubarVItem {
text-decoration: none;
white-space: nowrap;
color: #101b2a;
font-size: 15px;
padding: 6px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.myMobBlueMenubarVItemHover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23226%2c237%2c251%3a%23209%2c226%2c250.png.a5image') repeat-x top #d2e3fa;
border: 1px solid #73a7f0;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueMenubarVItemPressed {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23166%2c186%2c217%3a%23223%2c231%2c242.png.a5image') repeat-x top #dde5f1;
border: 1px solid #7697c5;
padding: 5px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueMenubarVItemDisabled {
color: #547eb8;
}
.myMobBlueMenubarVSeparator {
font-size: 0px;
border-style: none;
border-top: 1px solid #a7bcd9;
border-bottom: 1px solid White;
padding: 0px;
}
.myMobBlueMenubarVItemCascade {
background: url('MenubarVCascade.png') no-repeat right;
padding-right: 16px;
}
.myMobBlueMenubarVItemHover .myMobBlueMenubarVItemCascade {
background-image: url('MenubarVCascadeHover.png');
}
.myMobBlueMenubarVItemPressed .myMobBlueMenubarVItemCascade {
background-image: url('MenubarVCascadePressed.png');
}
.myMobBlueMenubarVItemDisabled .myMobBlueMenubarVItemCascade {
background-image: url('MenubarVCascadeDisabled.png');
}
.myMobBlueWin {
background-color: #ebf0f7;
border: 1px solid #466fa8;
padding: 0px;
border-radius: 4px;
box-shadow: 0px 0px 18px #aaa;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-webkit-box-shadow: 0px 0px 18px #aaa;
-moz-box-shadow: 0px 0px 18px #aaa;
}
.myMobBlueWinActive {
}
.myMobBlueWinAdjust {
}
.myMobBlueWinInner {
border: 1px solid #ebf0f7;
padding: 0px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueWinTitle {
text-shadow: #797676 -1px -1px;
color: #ebf0f7;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23149%2c174%2c210%3a%2386%2c126%2c183.png.a5image') repeat-x top #5880b8;
font-weight: bold;
border-bottom: 1px solid #466fa8;
padding: 5px;
line-height: 24px;
}
.myMobBlueWinBodyContainer {
}
.myMobBlueWinTBar {
background-color: #c7d4e7;
padding: 5px;
}
.myMobBlueWinBody {
border-top: 1px solid #a7bcd9;
border-bottom: 1px solid #a7bcd9;
padding: 5px;
}
.myMobBlueWinButtons {
text-align: right;
background-color: #c7d4e7;
padding: 5px;
}
.myMobBlueWinBBar {
background-color: #c7d4e7;
padding: 5px;
}
.myMobBlueWinHeader {
background-color: #c7d4e7;
padding: 5px;
}
.myMobBlueWinFooter {
background-color: #c7d4e7;
padding: 4px;
vertical-align: middle;
}
.myMobBlueWinActive .myMobBlueWinInner {
}
.myMobBlueWinActive .myMobBlueWinBodyContainer {
}
.myMobBlueWinActive .myMobBlueWinTBar, .myMobBlueWinActive .myMobBlueWinBody, .myMobBlueWinActive .myMobBlueWinButtons, .myMobBlueWinActive .myMobBlueWinBBar {
}
.myMobBlueWinResizer {
background: url('images/$box/$size/1x15/$fill/Gradient_Horizontal:%23198%2c212%2c231%3a%23174%2c193%2c221.png.a5image') repeat-x top #b0c3de;
height: 13px;
}
.myMobBlueDDWin {
background-color: #ebf0f7;
border: 1px solid #a7bcd9;
padding: 0px;
border-radius: 5px;
box-shadow: 4px 4px 8px #aaa;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-webkit-box-shadow: 4px 4px 8px #aaa;
-moz-box-shadow: 4px 4px 8px #aaa;
}
.myMobBlueDDWinAdjust {
}
.myMobBlueDDWinInner {
border: 1px solid White;
padding: 0px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}
.myMobBlueDDWinTitle {
text-shadow: #ffffff 1px 1px;
font-weight: bold;
padding: 5px;
line-height: 24px;
}
.myMobBlueDDWinHeader {
padding: 5px;
}
.myMobBlueDDWinBody {
padding: 5px;
}
.myMobBlueDDWinButtons {
text-align: right;
padding: 5px;
}
.myMobBlueDDWinFooter {
padding: 5px;
}
.myMobBlueDDWinResizer {
background: url('images/$box/$size/1x10/$fill/Gradient_Horizontal:%23223%2c232%2c243%3a%23198%2c212%2c232.png.a5image') repeat-x top #c8d6e9;
border-top: 1px solid #a7bcd9;
height: 13px;
}
.myMobBlueDDWinBBar {
padding: 5px;
}
.myMobBlueDDWinTBar {
padding: 5px;
}
.myMobBlueAccordionButton {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
color: #3a5e90;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
font-weight: bold;
border: 1px solid #a7bcd9;
padding: 5px;
margin-bottom: 3px;
display: block;
cursor: default;
line-height: 24px;
border-radius: 3px;
outline: none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueAccordionButton:hover {
color: #101b2a;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23241%2c247%2c254%3a%23212%2c229%2c251.png.a5image') repeat-x top #d5e5fb;
border-color: #5393ec;
}
.myMobBlueAccordionButtonSelected {
text-decoration: none;
text-shadow: #797676 -1px -1px;
color: #ebf0f7;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23149%2c174%2c210%3a%2386%2c126%2c183.png.a5image') repeat-x top #5880b8;
font-weight: bold;
border: 1px solid #466fa8;
border-bottom-style: none;
padding: 5px;
padding-bottom: 6px;
display: block;
cursor: default;
line-height: 24px;
border-radius: 3px 3px 0px 0px;
outline: none;
-webkit-border-radius: 3px 3px 0px 0px;
-moz-border-radius: 3px 3px 0px 0px;
-webkit-bottom-left-border-radius: 0px;
-moz-bottom-left-border-radius: 0px;
-webkit-bottom-right-border-radius: 0px;
-moz-bottom-right-border-radius: 0px;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
}
.myMobBlueAccordionButtonDisabled {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
color: #7697c5;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
font-weight: bold;
border: 1px solid #a7bcd9;
padding: 5px;
margin-bottom: 3px;
display: block;
cursor: default;
line-height: 24px;
border-radius: 3px;
outline: none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.myMobBlueAccordionPane {
background-color: #fbfcfe;
border: 1px solid #466fa8;
padding: 5px;
margin-bottom: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
-webkit-bottom-left-border-radius: 3px;
-moz-bottom-left-border-radius: 3px;
-webkit-bottom-right-border-radius: 3px;
-moz-bottom-right-border-radius: 3px;
}
.myMobBlueTabTButton {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #3a5e90;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
font-weight: bold;
border: 1px solid #a7bcd9;
border-bottom-style: none;
padding: 5px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
line-height: 24px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
}
.myMobBlueTabTButton:hover {
color: #101b2a;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23241%2c247%2c254%3a%23212%2c229%2c251.png.a5image') repeat-x top #d5e5fb;
}
.myMobBlueTabTButtonSelected {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #101b2a;
background-color: #fbfcfe;
font-weight: bold;
border: 1px solid #a7bcd9;
border-bottom-style: none;
padding: 5px;
padding-bottom: 6px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
position: relative;
line-height: 24px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
}
.myMobBlueTabTButtonDisabled {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #7697c5;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
font-weight: bold;
border: 1px solid #a7bcd9;
border-bottom-style: none;
padding: 5px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
line-height: 24px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
}
.myMobBlueTabTPane {
background-color: #fbfcfe;
border: 1px solid #a7bcd9;
padding: 5px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
-webkit-bottom-left-border-radius: 3px;
-moz-bottom-left-border-radius: 3px;
-webkit-bottom-right-border-radius: 3px;
-moz-bottom-right-border-radius: 3px;
}
.myMobBlueTabBButton {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #3a5e90;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
font-weight: bold;
border: 1px solid #a7bcd9;
padding: 5px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
line-height: 24px;
border-radius: 0px 0px 3px 3px;
outline: none;
-webkit-border-radius: 0px 0px 3px 3px;
-moz-border-radius: 0px 0px 3px 3px;
}
.myMobBlueTabBButton:hover {
color: #101b2a;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23241%2c247%2c254%3a%23212%2c229%2c251.png.a5image') repeat-x top #d5e5fb;
}
.myMobBlueTabBButtonSelected {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #101b2a;
background-color: #fbfcfe;
font-weight: bold;
border: 1px solid #a7bcd9;
border-top-style: none;
padding: 5px;
padding-top: 6px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
position: relative;
line-height: 24px;
border-radius: 0px 0px 3px 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
-webkit-bottom-left-border-radius: 3px;
-moz-bottom-left-border-radius: 3px;
-webkit-bottom-right-border-radius: 3px;
-moz-bottom-right-border-radius: 3px;
-webkit-border-radius: 0px 0px 3px 3px;
-moz-border-radius: 0px 0px 3px 3px;
}
.myMobBlueTabBButtonDisabled {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #7697c5;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
font-weight: bold;
border: 1px solid #a7bcd9;
padding: 5px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
line-height: 24px;
border-radius: 0px 0px 3px 3px;
outline: none;
-webkit-border-radius: 0px 0px 3px 3px;
-moz-border-radius: 0px 0px 3px 3px;
}
.myMobBlueTabBPane {
background-color: #fbfcfe;
border: 1px solid #a7bcd9;
padding: 5px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
-webkit-bottom-left-border-radius: 3px;
-moz-bottom-left-border-radius: 3px;
-webkit-bottom-right-border-radius: 3px;
-moz-bottom-right-border-radius: 3px;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
}
.myMobBlueTabLButton {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #3a5e90;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
font-weight: bold;
border: 1px solid #a7bcd9;
border-right-style: none;
padding: 5px;
margin-bottom: 2px;
display: block;
cursor: default;
line-height: 24px;
border-radius: 3px 0px  0px 3px;
outline: none;
-webkit-border-radius: 3px 0px  0px 3px;
-moz-border-radius: 3px 0px  0px 3px;
}
.myMobBlueTabLButton:hover {
color: #101b2a;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23241%2c247%2c254%3a%23212%2c229%2c251.png.a5image') repeat-x top #d5e5fb;
border-color: #5393ec;
}
.myMobBlueTabLButtonSelected {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #101b2a;
background-color: #fbfcfe;
font-weight: bold;
border: 1px solid #a7bcd9;
border-right-style: none;
padding: 5px;
padding-right: 6px;
margin-right: -1px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
line-height: 24px;
border-radius: 3px 0px  0px 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
-webkit-border-radius: 3px 0px  0px 3px;
-moz-border-radius: 3px 0px  0px 3px;
}
.myMobBlueTabLButtonDisabled {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #7697c5;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
font-weight: bold;
border: 1px solid #a7bcd9;
border-right-style: none;
padding: 5px;
margin-bottom: 3px;
display: block;
cursor: default;
line-height: 24px;
border-radius: 3px 0px  0px 3px;
outline: none;
-webkit-border-radius: 3px 0px  0px 3px;
-moz-border-radius: 3px 0px  0px 3px;
}
.myMobBlueTabLPane {
background-color: #fbfcfe;
border: 1px solid #a7bcd9;
padding: 5px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
-webkit-bottom-left-border-radius: 3px;
-moz-bottom-left-border-radius: 3px;
-webkit-bottom-right-border-radius: 3px;
-moz-bottom-right-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
}
.myMobBlueTabRButton {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #3a5e90;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
font-weight: bold;
border: 1px solid #a7bcd9;
border-left-style: none;
padding: 5px;
margin-bottom: 2px;
display: block;
cursor: default;
line-height: 24px;
border-radius: 0px 3px 3px 0px;
outline: none;
-webkit-border-radius: 0px 3px 3px 0px;
-moz-border-radius: 0px 3px 3px 0px;
}
.myMobBlueTabRButton:hover {
color: #101b2a;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23241%2c247%2c254%3a%23212%2c229%2c251.png.a5image') repeat-x top #d5e5fb;
border-color: #5393ec;
}
.myMobBlueTabRButtonSelected {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #101b2a;
background-color: #fbfcfe;
font-weight: bold;
border: 1px solid #a7bcd9;
border-left-style: none;
padding: 5px;
padding-left: 6px;
margin-left: -1px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
line-height: 24px;
border-radius: 0px 3px 3px 0px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
-webkit-border-radius: 0px 3px 3px 0px;
-moz-border-radius: 0px 3px 3px 0px;
}
.myMobBlueTabRButtonDisabled {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #7697c5;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
font-weight: bold;
border: 1px solid #a7bcd9;
border-left-style: none;
padding: 5px;
margin-bottom: 2px;
display: block;
cursor: default;
line-height: 24px;
border-radius: 0px 3px 3px 0px;
outline: none;
-webkit-border-radius: 0px 3px 3px 0px;
-moz-border-radius: 0px 3px 3px 0px;
}
.myMobBlueTabRPane {
background-color: #fbfcfe;
border: 1px solid #a7bcd9;
padding: 5px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
-webkit-bottom-left-border-radius: 3px;
-moz-bottom-left-border-radius: 3px;
-webkit-bottom-right-border-radius: 3px;
-moz-bottom-right-border-radius: 3px;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
}
.myMobBlueTabbandT {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23246%2c248%2c251%3a%23231%2c237%2c246.png.a5image') repeat-x top #e8eef6;
border: 1px solid #a7bcd9;
border-bottom-style: solid;
padding: 0px;
padding-top: 2px;
}
.myMobBlueTabbandT img {
vertical-align: middle;
}
.myMobBlueTabbandTButton {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #3a5e90;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
font-weight: bold;
border: 1px solid #a7bcd9;
padding: 5px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
line-height: 26px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
}
.myMobBlueTabbandTButton:hover {
color: #101b2a;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23241%2c247%2c254%3a%23212%2c229%2c251.png.a5image') repeat-x top #d5e5fb;
}
.myMobBlueTabbandTButtonSelected {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #101b2a;
background-color: #fbfcfe;
font-weight: bold;
border: 1px solid #a7bcd9;
border-bottom-style: none;
padding: 5px;
padding-bottom: 6px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
position: relative;
line-height: 26px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
}
.myMobBlueTabbandTButtonDisabled {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #7697c5;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
font-weight: bold;
border: 1px solid #a7bcd9;
padding: 5px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
line-height: 26px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
}
.myMobBlueTabbandTLScroll {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
color: #101b2a;
background-color: #fbfcfe;
font-weight: bold;
border: 1px solid #a7bcd9;
border-left-style: none;
border-bottom-style: none;
padding: 5px;
padding-bottom: 6px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
position: relative;
line-height: 26px;
border-top-right-radius: 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
}
.myMobBlueTabbandTLScrollDisabled {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
color: #101b2a;
background-color: #fbfcfe;
font-weight: bold;
border: 1px solid #a7bcd9;
border-left-style: none;
border-bottom-style: none;
padding: 5px;
padding-bottom: 6px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
position: relative;
line-height: 26px;
border-top-right-radius: 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
}
.myMobBlueTabbandTRScroll {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
color: #101b2a;
background-color: #fbfcfe;
font-weight: bold;
border: 1px solid #a7bcd9;
border-right-style: none;
border-bottom-style: none;
padding: 5px;
padding-bottom: 6px;
margin-left: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
position: relative;
line-height: 26px;
border-top-left-radius: 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
}
.myMobBlueTabbandTRScrollDisabled {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
color: #101b2a;
background-color: #fbfcfe;
font-weight: bold;
border: 1px solid #a7bcd9;
border-right-style: none;
border-bottom-style: none;
padding: 5px;
padding-bottom: 6px;
margin-left: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
position: relative;
line-height: 26px;
border-top-left-radius: 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
}
.myMobBlueTabbandTSeparator {
background-color: #fbfcfe;
font: 0pt arial;
border-top: 1px solid #a7bcd9;
padding: 0px;
height: 3px;
}
.myMobBlueTabbandB {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23246%2c248%2c251%3a%23231%2c237%2c246.png.a5image') repeat-x top #e8eef6;
border: 1px solid #a7bcd9;
border-bottom-style: solid;
padding: 0px;
padding-bottom: 2px;
}
.myMobBlueTabbandB img {
vertical-align: middle;
}
.myMobBlueTabbandBButton {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #3a5e90;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
font-weight: bold;
border: 1px solid #a7bcd9;
padding: 5px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
line-height: 26px;
border-radius: 0px 0px 3px 3px;
outline: none;
-webkit-border-radius: 0px 0px 3px 3px;
-moz-border-radius: 0px 0px 3px 3px;
}
.myMobBlueTabbandBButton:hover {
color: #101b2a;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23241%2c247%2c254%3a%23212%2c229%2c251.png.a5image') repeat-x top #d5e5fb;
}
.myMobBlueTabbandBButtonSelected {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #101b2a;
background-color: #fbfcfe;
font-weight: bold;
border: 1px solid #a7bcd9;
border-top-style: none;
padding: 5px;
padding-top: 6px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
position: relative;
line-height: 26px;
border-radius: 0px 0px 3px 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
-webkit-bottom-left-border-radius: 3px;
-moz-bottom-left-border-radius: 3px;
-webkit-bottom-right-border-radius: 3px;
-moz-bottom-right-border-radius: 3px;
-webkit-border-radius: 0px 0px 3px 3px;
-moz-border-radius: 0px 0px 3px 3px;
}
.myMobBlueTabbandBButtonDisabled {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
white-space: nowrap;
color: #7697c5;
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23223%2c230%2c241%3a%23199%2c212%2c230.png.a5image') repeat-x top #c7d4e7;
font-weight: bold;
border: 1px solid #a7bcd9;
padding: 5px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
line-height: 26px;
border-radius: 0px 0px 3px 3px;
outline: none;
-webkit-border-radius: 0px 0px 3px 3px;
-moz-border-radius: 0px 0px 3px 3px;
}
.myMobBlueTabbandBLScroll {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
color: #101b2a;
background-color: #fbfcfe;
font-weight: bold;
border: 1px solid #a7bcd9;
border-top-style: none;
border-left-style: none;
padding: 5px;
padding-bottom: 6px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
position: relative;
line-height: 26px;
border-bottom-right-radius: 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
-webkit-bottom-right-border-radius: 3px;
-moz-bottom-right-border-radius: 3px;
}
.myMobBlueTabbandBLScrollDisabled {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
color: #101b2a;
background-color: #fbfcfe;
font-weight: bold;
border: 1px solid #a7bcd9;
border-top-style: none;
border-left-style: none;
padding: 5px;
padding-bottom: 6px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
position: relative;
line-height: 26px;
border-bottom-right-radius: 3px;
outline: none;
-webkit-top-left-border-radius: 3px;
-moz-top-left-border-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
-webkit-bottom-right-border-radius: 3px;
-moz-bottom-right-border-radius: 3px;
}
.myMobBlueTabbandBRScroll {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
color: #101b2a;
background-color: #fbfcfe;
font-weight: bold;
border: 1px solid #a7bcd9;
border-top-style: none;
border-right-style: none;
padding: 5px;
padding-bottom: 6px;
margin-top: -1px;
margin-left: 2px;
display: block;
float: left;
cursor: default;
position: relative;
line-height: 26px;
border-bottom-left-radius: 3px;
outline: none;
-webkit-bottom-left-border-radius: 3px;
-moz-bottom-left-border-radius: 3px;
}
.myMobBlueTabbandBRScrollDisabled {
text-decoration: none;
text-shadow: #ffffff 1px 1px;
color: #101b2a;
background-color: #fbfcfe;
font-weight: bold;
border: 1px solid #a7bcd9;
border-top-style: none;
border-right-style: none;
padding: 5px;
padding-bottom: 6px;
margin-top: -1px;
margin-left: 2px;
display: block;
float: left;
cursor: default;
position: relative;
line-height: 26px;
border-bottom-left-radius: 3px;
outline: none;
-webkit-bottom-left-border-radius: 3px;
-moz-bottom-left-border-radius: 3px;
}
.myMobBlueTabbandBSeparator {
background-color: #fbfcfe;
font: 0pt arial;
border-bottom: 1px solid #a7bcd9;
padding: 0px;
height: 3px;
}
/* fix to help with firefox button padding */
button::-moz-focus-inner {
border-width: 0;
padding: 0;
}
.myMobBlueSliderH {
padding: 3px 14px;
}
.myMobBlueSliderHInner {
background-color: White;
font-size: 0px;
border: 1px solid #a7bcd9;
padding: 0px;
height: 20px;
border-radius: 20px;
box-shadow: inset 2px 2px 8px #eae9e9;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-webkit-box-shadow: inset 2px 2px 8px #eae9e9;
-moz-box-shadow: inset 2px 2px 8px #eae9e9;
}
.myMobBlueSliderHHandle {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23240%2c244%2c249%3a%23224%2c231%2c242.png.a5image') repeat-x top #e0e7f2;
font-size: 0px;
border: 1px solid #acc0dc;
margin: -4px;
margin-left: -14px;
width: 26px;
height: 26px;
border-radius: 22px;
-webkit-border-radius: 22px;
-moz-border-radius: 22px;
}
.myMobBlueSliderHHandleHover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23226%2c237%2c251%3a%23209%2c226%2c250.png.a5image') repeat-x top #d2e3fa;
border-color: #73a7f0;
}
.myMobBlueSliderHHandleSelected {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%2383%2c147%2c236%3a%2335%2c116%2c230.png.a5image') repeat-x top #2576e7;
border-color: #1257b8;
}
.myMobBlueSliderHRange {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23240%2c244%2c249%3a%23224%2c231%2c242.png.a5image') repeat-x top #e0e7f2;
font-size: 0px;
border: 1px solid #acc0dc;
margin: -1px;
height: 20px;
border-radius: 20px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
}
.myMobBlueSliderHRangeHover {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%23226%2c237%2c251%3a%23209%2c226%2c250.png.a5image') repeat-x top #d2e3fa;
border-color: #73a7f0;
}
.myMobBlueSliderHRangeSelected {
background: url('images/$box/$size/1x24/$fill/Gradient_Horizontal:%2383%2c147%2c236%3a%2335%2c116%2c230.png.a5image') repeat-x top #2576e7;
border-color: #1257b8;
}
